.price {

   // .price__container

   &__container {
      @include adaptiveValue("padding-bottom", 100, 50);
   }

   // .price__content

   &__content {
      display: flex;
      flex-direction: column;
      gap: toRem(30);
      font-size: toRem(30);
      @include adaptiveValue("font-size", 30, 18);
      p{
         line-height: normal;
         .space{
            display: inline-block;
            width: toRem(40);
         }
      }
      ul{
         padding-top: toRem(10);
      }
      li{
         list-style: disc;
         margin-left: toRem(60);
         font-weight: 500;
         line-height: normal;
      }
   }
}
.calculation{

   &__top{
      display: flex;
      justify-content: space-between;
   }
   .result{
      padding: toRem(30) 0;
   }
}