body{
   background-color: var(--colWhite);
}
.finger{
   animation: wobble 2.5s infinite;
   display: inline-block;
}

@keyframes wobble {
   0% {
      transform: translateZ(0) scale(1);
  }
  15% {
      transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
  }
  30% {
      transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
  }
  45% {
      transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
  }
  60% {
      transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
  }
  75% {
      transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
  }
  100% {
      transform: translateZ(0) scale(1);
  }
}
h2{
   text-align: center;
   padding: toRem(100) toRem(0);
   @include adaptiveValue("font-size", 80, 35,991.98,320);
   font-weight: 600;
   font-family: 'Unbounded';
   span{
      display: inline-block;
   }
   transition: all 0.3s;
}
.calc-input{
   outline: none;
   border: toRem(2) solid #101010;
   border-radius: toRem(5);
   padding: toRem(10) toRem(30);
   background-color: #eee;
   margin-right: toRem(10);
   width: toRem(200);
   &:focus{
      border-color: var(--primary);
   }
   &::-webkit-inner-spin-button{
      appearance: none;
   }
}
//========================================================================================================================================================