html[lang="ru"]{
   --primary: #7c8eeb;
   --main-text-color: #fdfdfd;
   --colWhite: #101010;
   --colBlack: #fdfdfd;
   --colLightBlue: #4e5577;
   .head-context{
      &__name{
         background-color: rgb(19, 22, 45);
      }
      &__sub-title{
         color: #c6b6b6;
      }
   }
   .header__logo{
      path{
         fill: #fdfdfd;
      }
   }
}