.portfolio{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: toRem(100) 0;
   &__title{
      line-height: normal;
   }
   &__body{
      width: 100%;
      position: relative;
      @media (max-width: 61.99875em){
         display: flex;
         flex-wrap: wrap;
         gap: toRem(20);
      }
      @media (max-width: 37.5em){
         gap: toRem(100);
      }
   }
}
.project{
   display: flex;
   width: 100%;
   padding: toRem(50) toRem(100);
   @media (max-width: 61.99875em){
      padding: 0;
      flex: 1 1 calc(50% - toRem(10));
      width: 50%;
      flex-direction: column;
   }
   @media (max-width: 37.5em){
      flex: 1 1 100%;
      width: 100%;
   }
   justify-content: space-between;
   align-items: center;
   @media (min-width: 61.99875rem){
      border-top: toRem(1) solid rgba(201,201,201,1);
      &:last-child{
         border-bottom: toRem(1) solid rgba(201,201,201,1);
      }
   }

   h3{
      font-size: toRem(80);
      font-weight: 400;
      margin: 0;
      position: relative;
      overflow: hidden;
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
      @media (max-width: 61.99875em){
         width: 100%;
         font-size: toRem(31);
         padding: toRem(31) toRem(0) toRem(16) 0;
         margin-bottom: toRem(16);
         border-bottom: toRem(1) solid rgba(201,201,201,1);
      }
      span{
         display: inline-block;
         padding-bottom: toRem(10);
         transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
         &:nth-child(2){
            position: absolute;
            top: 100%;
            left: 0;
         }
      }
   }
   p{
      @media (max-width: 61.99875em){
         width: 100%;
         font-size: toRem(16);
         font-family: 'Inter';
         font-weight: 400;
         display: flex;
         justify-content: space-between;
      }
      transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   }
   @media (min-width: 61.99875rem){
      @media (any-hover: hover){
         &:hover{
            opacity: 0.4;
            span{
               transform: translateY(-100%);
            }
            h2{
               transform: translateY(toRem(20)) translateX(toRem(-50));
            }
            p{
               transform: translateX(toRem(50));
            }
         }
      }
   }

   &-modal{
      height: toVW(400,9.91);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      overflow: hidden;
      position: relative;
      @media (max-width: 37.5em){
         height: toVW(400,6);
      }
      &__block{
         display: flex;
         justify-content: center;
         align-items: center;
         padding: toRem(0) toRem(26);
         @media (max-width: 47.99875em){
            padding: toRem(0) toRem(16);
         }
         @media (max-width: 37.5em){
            padding: toRem(0) toRem(20);
         }

         img{
            width: 100%;
            height: auto;
            position: relative;
            height: auto;
            z-index: 2;
         }
       }
       &__layer{
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
       }
   }
}
.modal{
   height: toRem(400);
   width: toRem(500);
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   pointer-events: none;
   overflow: hidden;
 &__slider{
   height: 100%;
   position: absolute;
   transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
   @media (max-width: 61.99875em){
      top: 0;
      left: 0;
   }
 } 
 &__block{
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: toRem(0) toRem(100);
   img{
      position: relative;
      width: toRem(400);
      height: auto;
      z-index: 1;
   }
 }
 &__layer{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }
}