.finger{
   animation: wobble 2.5s infinite;
   display: inline-block;
}

@keyframes wobble {
   0% {
      transform: translateZ(0) scale(1);
  }
  15% {
      transform: translate3d(-25%, 0, 0) rotate(-5deg) scale(1.1);
  }
  30% {
      transform: translate3d(20%, 0, 0) rotate(3deg) scale(1.2);
  }
  45% {
      transform: translate3d(-15%, 0, 0) rotate(-3deg) scale(1.3);
  }
  60% {
      transform: translate3d(10%, 0, 0) rotate(2deg) scale(1.2);
  }
  75% {
      transform: translate3d(-5%, 0, 0) rotate(-1deg) scale(1.1);
  }
  100% {
      transform: translateZ(0) scale(1);
  }
}
h2{
   text-align: center;
   padding: toRem(100) toRem(0);
   @include adaptiveValue("font-size", 80, 35,991.98,320);
   font-weight: 600;
   font-family: 'Unbounded';
   span{
      display: inline-block;
   }
   transition: all 0.3s;
}
//========================================================================================================================================================