html[lang="ru"]{
   --font-family: 'Inter';
   .price{
      li{
         &:first-child{
            margin-top: toRem(10);
         }
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   .header{
      @media (max-width: em(360)){
          gap: toRem(10); 
      }
   }
   .menu {
      ul{
         @include adaptiveValue("gap", 60, 10);
         padding-right: toRem(10);
      }
      span{
         @include adaptiveValue("font-size", 18, 14);

      }
   }
}