//====================================================================================================
.head{
   width: 100%;
   min-height: 100vh;
   
   position: relative;
   display: flex;
   padding-top: toRem(65);
   @media (max-width:$tablet){
      flex-direction: column;
   }
   .hover-anim {
      position: relative;
      overflow: hidden;
      // .hover-anim__main-letter
   
      &__second-row {
         position: relative;
         
      }
   
      &__letter{
         display: inline-block;
         position: relative;
         overflow: hidden;
         span{
            line-height: 125%;
         }
         @media (any-hover: hover){
            &:hover{
               span{
                  transform: translateY(-100%);
               }
            }
         }
         span{
         transition: all 0.1s;
         display: inline-block;
         &:nth-child(2){
               position: absolute;
               width: 100%;
               height: 100%;
               top: 100%;
               left: 0;
               color: var(--primary);
            }
         }
      }
   }

   &__column{
      flex: 1 1 50%;
      @media (min-width:$tablet){
         width: 50%;
      }
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width:$tablet){
         padding-block: toRem(100);
      }
   }
   &__context{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      margin-left: auto;
      max-width: toRem(700);
      padding-inline: toRem(30);
      @media (max-width:$tablet){
         margin-inline: auto;
      }
   }
   .head-context{
      &__name{
         position: relative;
         display: inline-block;
         @include adaptiveValue("font-size", 25, 16);
         font-weight: 600;
         color: var(--primary);
         background-color: rgb(238, 242, 255);
         padding: toRem(4) toRem(16) toRem(4) toRem(8);
         margin-bottom: toRem(20);
         border: toRem(2) solid var(--primary);
         clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, calc(100% - 8px) 100%, 8px 100%, 0px 100%, 0px 0px);

         .hover-anim__letter{
            span{
               &:nth-child(2){
                  color: var(--colBlack);
               }
            }
         }
         .finger{
            padding: toRem(5) toRem(0) toRem(5) toRem(15);
         }
         &_stick{
            position: absolute;
            right: -3px;
            top: 7px;
            rotate: 45deg;
            width: 11.3137px;
            height: 2px;
            background-color: var(--primary);
            transform-origin: top right;
         }
      }
      h1{
         @include adaptiveValue("font-size", 60, 25);
         font-weight: 800;
         line-height: em(66,60);
         margin-bottom: toRem(10);
         p{
            color: var(--primary);
         }
      }
      &__sub-title{
         font-size: toRem(18);
         color: rgb(82,82,82);
         line-height: em(18,14);
      }
   }

   .head-scene{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--colLightBlue);
      overflow: hidden;
      .running-line__wrapper{
      }
      &__layer{
         width: 100%;
         height: 100%;
         border-left: toRem(2) solid #101010;
         // width: 100%; height: 100%; background-color: transparent; background-image: linear-gradient(#101010 2px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, #101010 2px, rgba(0, 0, 0, 0) 1px), linear-gradient(#101010 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(90deg, #101010 1px, rgba(0, 0, 0, 0) 1px); background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; background-size:  50px 50px, 50px 50px; border-radius: 0px;
      }
   }




   &__highlited-text{
      span{
         color: var(--primary);
         &:nth-child(2){
            color: var(--colBlack) !important;
         }
      }
   }
}

//====================================================================================================
.project-preview__container{
   width: 100%;
   max-width: toRem(1625);
}
