.letstalk {
   // .letstalk__container
   position: relative;

   &__container {
      overflow: hidden;
      // @include adaptiveValue("padding-top", 129, 55,$containerWidth,393);
      // @include adaptiveValue("padding-bottom", 69, 42,$containerWidth,393);
   position: relative;
   z-index: 2;
   @media (min-width:$tablet){
       max-width: 100%; 
   }
}

   &__content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      @include adaptiveValue("padding-bottom", 138, 107,$containerWidth,393);
      @include adaptiveValue("padding-top", 129, 55,$containerWidth,393);
      height: 100vh;
      
   }

   .letstalk-layer{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      @media (max-width:$tablet){
         background-color: var(--primary);
      }

      @media (max-width:$tablet){
         transition: all 1s ease;
         visibility: visible;
         opacity: 1;
      }
      &.layer-active{
         transition: all 1s ease;
         visibility: visible;
         opacity: 1;
         background-color: var(--primary);
      }
   }
   .back-color{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
   .board{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
      border-top: toRem(1) solid #000;
      width: 100%; height: 100%; background-color: transparent; background-image: linear-gradient(#0002 2px, transparent 2px), linear-gradient(90deg, #0002 2px, transparent 2px), linear-gradient(#0002 1px, transparent 1px), linear-gradient(90deg, #0002 1px, rgba(0, 0, 0, 0) 1px); background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; background-size: 250px 250px, 250px 250px, 50px 50px, 50px 50px; border-radius: 0px;
   }
   .parallax-container{
      position: absolute;
      width: 100%;
      height: 100%;
      top: toRem(-100);
      left: -5%;
      z-index: 2000;
      @media (max-width:$tablet){
         top: 0;
         left: 0;
      }
   }
   .letstalk__link_layer{
      position: absolute;
      top: 0;left: 0;
      width: toRem(0);
      height: toRem(0);
      border-radius: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%);
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      @media (max-width:$tablet){
         width: 100%;
         height: 100%;
         border-radius: 0;
         transform: translate(0%, 0%);
         opacity: 1;
         visibility: visible;
         top: 0;
         left: 0;
      }
      &.layer-active{
            animation: animate 0.3s linear 0s forwards;
            opacity: 1;
            visibility: visible;
            background-color: var(--colWhite);
       }
   }
   @keyframes animate {
      to{
         width: toRem(1800);
         height: toRem(1800);
      }
   }
   // .letstalk__subtitle

   &__subtitle {
      color: var(--primary);
      text-align: center;
      @include adaptiveValue("font-size", 40, 16,$containerWidth,393);
      line-height: 320%;
      letter-spacing: toRem(1.2);
      text-align: center;
      @include adaptiveValue("margin-bottom", 24, 12,$containerWidth,393);
      transition: all 0.8s;
      @media (max-width:$tablet){
         color: var(--colWhite);
      }
      &.layer-active{
         color: var(--colWhite);
      }
   }

   // .letstalk__title

   &__title {
      font-family: "Unbounded";
      
      text-align: center;
      @include adaptiveValue("font-size", 64, 24,$containerWidth,393);
      // line-height: 104.688%;
      line-height: 130%;
      
      letter-spacing: toRem(3.84);
      @include adaptiveValue("margin-bottom", 58, 32,$containerWidth,393);
      // max-width: toRem(766);
      max-width: toRem(900);
      transition: all 0.8s;
         color: var(--colBlack);
         @media (max-width:$tablet){
         color: var(--colWhite);
      }
      &.layer-active{
         color: var(--colWhite);
      }
   }
   .shuffle-text{
      pointer-events: none;
      @include adaptiveValue("width", 372, 102,$containerWidth,393);
   }
   &__link{
      border-radius: toRem(124);
      background: var(--colBlack);
      border: toRem(2) solid var(--colBlack);
      @include adaptiveValue("margin-bottom", 77, 24,$containerWidth,393);
      @include adaptiveValue("font-size", 88, 35,$containerWidth,393);
      min-width: toRem(748);
      min-height: toRem(208);
      line-height: normal;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all 0.3s;
      color: var(--colWhite);
      box-shadow: 0 0 .9375rem 0 var(--primary);
      @media (max-width:$tablet){
         color: var(--colBlack);
         min-width: 100%;
         @include adaptiveValue("min-height", 208, 120);
      }
         &_text{
         position: relative;
         z-index: 5;
         transition: all 0s;
      }
      &.layer-active{
         color: var(--colBlack);
         transition: all 0.1s;
         background: var(--colBlack);
      box-shadow: 0 0 .9375rem 0 var(--colBlack);
      border: toRem(2) solid var(--colBlack);
      .letstalk__link_text{
               transition: all 0.8s;
            }
      }
   }
   
   // .letstalk__text

   &__text {
      color: #3c3d3f;
      text-align: center;
      @include adaptiveValue("font-size", 18, 12);
      line-height: normal;
      max-width: toRem(636);
      @media (max-width:$tablet){
         color: var(--colWhite);
      }
      a{
         color: var(--primary);
         transition: all 0.8s;
         border-bottom: toRem(2) solid;
         @media (max-width:$tablet){
            color: var(--colWhite);
         }
      }
      &.layer-active{
         transition: all 0.8s;
         color: var(--colWhite);
         a{
            display: inline-block;
            color: var(--colWhite);
            font-size: toRem(25);
            margin-left: toRem(20);
            // padding-top: toRem(30);
            transform: translateY(toRem(15));
         }
      }
   }
  
}