@use "sass:math";
@import '@/shared/scss/base/mixins.scss';

.portfolio-page {
   padding-top: toRem(140);
   @media (max-width:$tablet){
      padding-top: toRem(70);
   }
   width: 100%;
   height: 100svh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   background-color: var(--colLightAndDark);
   position: relative;
   h2{
      text-align: center;
      font-size: 3.125rem;
      font-weight: 600;
      font-family: "Unbounded";
   }
   .running-line {
   padding-block: toRem(20);
   white-space: nowrap;
   &__container{
      padding: 0;
   }
   		// .running-line__wrapper
   
   		&__wrapper {
            display: inline-flex;
            align-items: center;
            gap: toRem(65);
            padding-right: toRem(65);
            span{
               color: #808080;
               font-family: "Inter";
               font-size: toRem(24);
               font-style: normal;
               font-weight: 400;
               line-height: normal;
               white-space: nowrap;
            }
            .md1{
               @media (max-width:$tablet){
                  display: none;
               }
            }
            .md2{
               @media (min-width:$pc){
                   display: none;
               }
            }
   		}
         &__items{
            display: flex;
            align-items: center;
            gap: toRem(65);
         }
   }
   &__bg-logo{
      width: toRem(150);
      height: toRem(150);
      position: relative;
      mix-blend-mode: difference;
      @media (min-width:$tablet){
          display: none; 
      }
      svg{
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      path{
         fill: #fff;
      }
   }
   &__logo{

      svg{
         width: 100%;
         height: toVW(467);
      }
      path{
         fill: var(--colBlack);
      }
   }
   .case-container{
      position: fixed;
      animation: floating 7s linear 0s forwards;
      pointer-events: none;
      z-index: 10;
      transform: translateX(-50%) translateY(-50%);
      pointer-events: none;
      user-select: none;
   }
   .video-container,.img-container{

      position: relative;
      img,video{
         pointer-events: none;
         height: toVW(300);
         user-select: none;
         @media (max-width:$mobile){
            width: toVW(800);
         }
         scale: 0;
         opacity: 0;
         animation: scaling 0.7s ease 0s forwards;
         pointer-events: none;
         touch-action: none;
         border-radius: toVW(50);
         user-select: none;
         object-fit: cover;
      }
   }
   
}
@keyframes scaling {
   to{
      opacity: 1;
      scale: 1;
   }
}
@keyframes floating {
   30%{
      opacity: 1;
   }
   100%{
      opacity: 0;
      transform: translateY(-100vh);
   }
}